@tailwind base;
@tailwind components;
@tailwind utilities;

input::file-selector-button {
  cursor: pointer;
  width: 100%;
  /* height: 5vh; */
  padding: 1vmax;
  border: none;
  margin: 0%;
  font: 400 1vmax cursive;
  font-size: large;
  transition: all 0.5s;
  border: 1px solid rgb(176, 176, 176);
  color: rgba(0, 0, 0, 0.651);
  background-color: white;
}
input::file-selector-button:hover {
  background-color: rgba(235, 235, 235, 1);
}
